<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать нового пользователя</title>
</head>
<body>
<h1>Создать нового пользователя</h1>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <div class="mb-3">
        <label for="firstName" class="form-label">Имя: </label>
        <input class="form-control" type="text" th:field="*{firstName}" id="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Фамилия: </label>
        <input class="form-control" type="text" th:field="*{lastName}" id="lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail: </label>
        <input class="form-control" type="text" th:field="*{email}" id="email" aria-describedby="emailHelp">

    </div>
    <input type="Submit" class="btn btn-primary" value="Сохранить данные пользователя">
</form>
</body>
</html>